$black: #000000;
$white: #ffffff;
$white_rgb: 255, 255, 255;

$blue-slate-950_rgb: 2, 6, 23;
$blue-slate-900_rgb: 15, 23, 42;
$blue-slate-800_rgb: 30, 41, 59;
$blue-slate-700_rgb: 51, 65, 85;
$blue-slate-400_rgb: 148, 163, 184;
$blue-slate-300_rgb: 203, 213, 225;
$blue-slate-100_rgb: 241, 245, 249;
$blue-slate-050_rgb: 248, 250, 252;

$gray-800_rgb: 31, 41, 55;
$gray-700_rgb: 55, 65, 81;
$gray-600_rgb: 75, 85, 99;
$gray-600_rgb: 75, 85, 99;
$gray-200_rgb: 229, 231, 235;

$zinc-950_rgb: 9, 9, 11;
$zinc-900_rgb: 24, 24, 27;
$zinc-800_rgb: 39, 39, 42;
$zinc-700_rgb: 63, 63, 70;
$zinc-600_rgb: 82, 82, 91;
$zinc-500_rgb: 113, 113, 122;
$zinc-400_rgb: 161, 161, 170;
$zinc-300_rgb: 212, 212, 216;
$zinc-200_rgb: 228, 228, 231;
$zinc-100_rgb: 244, 244, 245;
$zinc-050_rgb: 250, 250, 250;

$red-700_rgb: 185, 28, 28;
$red-600_rgb: 220, 38, 38;
$red-500_rgb: 239, 68, 68;
$red-400_rgb: 248, 113, 113;
$red-300_rgb: 252, 165, 165;

$blue-gray-900-10: rgba(15, 23, 42, 0.1);
$blue-gray-900-20: rgba(15, 23, 42, 0.2);
$blue-gray-900: #0f172a;
$blue-gray-800: #1e293b;
$blue-gray-800_rgb: 30, 41, 59;
$blue-gray-700: #334155;
$blue-gray-600: #475569;
$blue-gray-500: #64748b;
$blue-gray-400: #94a3b8;
$blue-gray-300: #cbd5e1;
$blue-gray-200: #e2e8f0;
$blue-gray-100: #f1f5f9;
$blue-gray-50: #f8fafc;

$blue-gray-light-2: #141b2e;
$blue-gray-light-4: #182032;
$blue-gray-light-8: #21293b;
$blue-gray-light-8_rgb: 33, 41, 59;
$blue-gray-light-16: #333b4b;
$blue-gray-light-32: #575e6c;
$blue-gray-light-64: #a0a5ae;
$blue-gray-light-100: $blue-gray-100;

$blue-gray-dark-2: #e8ecf1;
$blue-gray-dark-4: #e8ecf1;
$blue-gray-dark-8: #dfe3e8;
$blue-gray-dark-16: #cdd1d8;
$blue-gray-dark-32: #a9aeb7;
$blue-gray-dark-64: #606775;
$blue-gray-dark-100: $blue-gray-900;

$blue-700: #1d4ed8;
$blue-50: #eff6ff;
$green-500: #10b981;
$green-50: #ecfdf5;
$yellow-50: #fffbeb;
$yellow-500: #d97706;
$red-700: #b91c1c;
$red-50: #fef2f2;

$emerald-300: rgb(110 231 183);
$emerald-400: rgb(52 211 153);
$emerald-500: rgb(16 185 129);
$emerald-600: rgb(5 150 105);

$rose-400: rgb(251 113 133);
$rose-500: rgb(244 63 94);
$rose-600: rgb(225 29 72);
$rose-700: rgb(190 18 60);

$teal-500: rgb(20 184 166);
$teal-600: rgb(13 148 136);

$cyan-200: rgb(165 243 252);
$cyan-300: rgb(103 232 249);
$cyan-400: rgb(34 211 238);
$cyan-500: rgb(6 182 212);
$cyan-600: rgb(8 145 178);
$cyan-700: rgb(14 116 144);

$hp-light-blue: rgb(19, 202, 230);
$hp-gradient-light: rgb(63, 142, 254);
$hp-gradient-highlight: rgb(63, 251, 218);
$hp-gradient-dark: rgb(43, 100, 255);

:root {
  --font-family: Lato, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Helvetica Neue, Helvetica,
    Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  --mdc-chip-container-height: 30px;
  --mdc-chip-container-shape-radius: 12px;

  --mdc-fab-container-shape: 12px;

  --mdc-icon-button-icon-size: 24px;
  --mdc-icon-button-state-layer-size: 40px;
  --mdc-icon-button-icon-color: 'currentColor';

  --mdc-linear-progress-active-indicator-color: #{$blue-slate-950_rgb};
  --mdc-linear-progress-active-indicator-height: 10px;
  --mdc-linear-progress-track-color: rgb(244 244 245);
  --mdc-linear-progress-track-height: 10px;
  --mdc-linear-progress-track-shape: 10px;

  --mdc-plain-tooltip-container-shape: 8px;

  --mdc-protected-button-container-shape: 9999px;
  --mdc-protected-button-keep-touch-target: false;
  --mat-protected-button-horizontal-padding: 24px;
  --mat-protected-button-icon-spacing: 8px;
  --mat-protected-button-icon-offset: -4px;

  --mat-dialog-actions-padding: 16px;
  --mat-dialog-actions-alignment: normal;
  --mdc-dialog-container-shape: 16px;
  --mdc-dialog-supporting-text-font: var(--font-family);

  --mdc-outlined-button-container-height: 40px;
  --mdc-outlined-button-container-shape: 9999px;
  --mat-outlined-button-icon-spacing: 8px;
  --mat-outlined-button-icon-offset: -4px;
  --mat-outlined-button-horizontal-padding: 24px;
  --mdc-outlined-button-keep-touch-target: false;
  --mdc-outlined-button-outline-width: 1px;

  --mdc-text-button-container-height: 40px;
  --mdc-text-button-container-shape: 9999px;
  --mat-text-button-horizontal-padding: 24px;
  --mat-text-button-icon-spacing: 8px;
  --mat-text-button-icon-offset: 0;
  --mdc-text-button-keep-touch-target: false;
  --mat-text-button-with-icon-horizontal-padding: 8px;

  --mdc-filled-button-container-shape: 4px;
  --mdc-filled-button-keep-touch-target: false;
  --mat-filled-button-horizontal-padding: 16px;
  --mat-filled-button-icon-spacing: 8px;
  --mat-filled-button-icon-offset: -4px;

  --mat-menu-container-shape: 16px;
  --mat-menu-divider-bottom-spacing: 0;
  --mat-menu-divider-top-spacing: 0;
  --mat-menu-item-spacing: 16px;
  --mat-menu-item-icon-size: 24px;
  --mat-menu-item-leading-spacing: 16px;
  --mat-menu-item-trailing-spacing: 16px;
  --mat-menu-item-with-icon-leading-spacing: 16px;
  --mat-menu-item-with-icon-trailing-spacing: 16px;

  --mat-stepper-container-color: transparent;

  --mdc-switch-track-height: 28px;
  --mat-switch-track-outline-color: rgb(#{$zinc-600_rgb});
  --mat-switch-label-text-font: var(--font-family);
  --mat-switch-label-text-color: rgb(#{$zinc-950_rgb});
  --mat-switch-label-text-tracking: 0;
  --mat-switch-label-text-weight: 600;
  --mdc-switch-unselected-handle-color: rgb(#{$zinc-600_rgb});
  --mdc-switch-unselected-track-color: rgb(#{$zinc-300_rgb});
  --mdc-switch-unselected-focus-track-color: #{$blue-gray-300};
  --mdc-switch-unselected-hover-track-color: #{$blue-gray-300};
  --mdc-switch-unselected-pressed-track-color: #{$blue-gray-300};
  --mdc-switch-selected-track-color: rgb(#{$blue-slate-800_rgb});
  --mdc-switch-selected-focus-track-color: rgb(#{$blue-slate-700_rgb});
  --mdc-switch-selected-hover-track-color: rgb(#{$blue-slate-700_rgb});
  --mdc-switch-selected-pressed-track-color: rgb(#{$blue-slate-700_rgb});
  --mat-switch-selected-track-outline-color: rgb(#{$blue-slate-950_rgb});
  --mdc-switch-selected-handle-color: rgb(#{$blue-slate-300_rgb});
  --mdc-switch-selected-focus-handle-color: #{$hp-gradient-highlight};
  --mdc-switch-selected-hover-handle-color: #{$hp-gradient-highlight};
  --mdc-switch-selected-pressed-handle-color: #{$hp-gradient-highlight};
  --mdc-switch-selected-focus-state-layer-color: #{$hp-gradient-highlight};
  --mdc-switch-selected-hover-state-layer-color: #{$hp-gradient-highlight};
  --mdc-switch-selected-pressed-state-layer-color: #{$hp-gradient-highlight};
  --mdc-switch-unselected-focus-state-layer-color: rgb(#{$blue-slate-950_rgb});
  --mdc-switch-unselected-hover-state-layer-color: rgb(#{$blue-slate-950_rgb});
  --mdc-switch-unselected-pressed-state-layer-color: rgb(#{$blue-slate-950_rgb});
  --mdc-switch-selected-icon-color: rgb(#{$blue-slate-950_rgb});
  --mat-switch-with-icon-handle-size: 22px;

  // Toast
  --hot-toast-border-radius: 16px;
  --hot-toast-padding: 14px 20px;
  --hot-toast-info-icon-background-color: var(--color-on-info);
  --hot-toast-checkmark-icon-background-color: var(--color-on-success);
  --hot-toast-warning-icon-background-color: var(--color-on-warning);
  --hot-toast-error-icon-background-color: var(--color-on-error);

  --color-primary: #{$blue-slate-950_rgb};
  --color-primary-inverted: #{$blue-slate-050_rgb};
  --color-on-primary: #{$blue-slate-050_rgb};
  --color-danger: #{$red-300_rgb};
  --color-on-danger: #{$red-600_rgb};

  --menu_container-color: #{$blue-slate-950_rgb};
  --menu_text-color: #{$blue-slate-050_rgb};

  --color-surface: rgb(#{$white_rgb});
  --color-on-surface: #{$blue-gray-800};
  --color-on-surface-lighter: #{$blue-gray-500};

  --color-base: #{$blue-gray-100};
  --color-base-900: #{$blue-gray-100};
  --color-base-800: #{$blue-gray-200};
  --color-base-700: #{$blue-gray-300};
  --color-base-600: #{$blue-gray-400};
  --color-base-500: #{$blue-gray-500};
  --color-base-400: #{$blue-gray-600};
  --color-base-300: #{$blue-gray-700};
  --color-base-200: #{$blue-gray-800};
  --color-base-100: #{$blue-gray-900};

  --color-border-around-base: #{$blue-gray-200};
  --color-alternate: #{$blue-gray-100};
  --color-alternate-lighter: #{$blue-gray-50};
  --color-active: #{$blue-gray-200};
  --color-active-lighter: #{$blue-gray-100};
  --color-on-active: #{$blue-gray-900};
  --color-interactive: #{$blue-gray-300};
  --color-on-interactive: #{$blue-gray-900};
  --color-disabled: #{$white};

  --color-highlight: #{$hp-gradient-light};
  --color-highlight-hover: #{$cyan-500};

  --color-hint: #{$blue-gray-dark-64};

  --color-info: #{$blue-50};
  --color-on-info: #{$blue-700};
  --color-success: #{$green-50};
  --color-on-success: #{$green-500};
  --color-warning: #{$yellow-50};
  --color-on-warning: #{$yellow-500};
  --color-error: #{$red-50};
  --color-on-error: #{$red-700};

  --color-bg-primary: #{$white};
  --color-bg-secondary: rgba(239, 254, 252, 0.3);
  --color-hover: #{$blue-gray-200};

  --card_background-color: #{$white};
  --card_background-color-rgb: #{$white_rgb};
  --dialog_background-color: #{$white};

  // question query mat card
  --query-sender_background-color: #{rgb(245, 245, 239)};
  --query-sender_text-color: #{$black};

  // Sidebar
  --sidebar_text-color: #{$white};
  --sidebar_border-color: #{$blue-gray-800};
  --sidebar-title_font-size: 1.7rem;
  --sidebar-title-letter-spacing: -1px;
  --sidebar-button_background-color: transparent;
  --sidebar-button_text-color: #{$blue-gray-300};
  --sidebar-button_font-weight: 500;
  --sidebar-button_active_text-color: #{$blue-gray-50};

  // Radio Button
  --radio_background-color: #{$blue-gray-200};
  --radio_border-color: #{$blue-gray-700};
  --radio_active_background-color: #{$blue-gray-300};
  --radio_active_border-color: #{$blue-gray-900};
  --mdc-radio-selected-icon-color: var(--color-on-interactive);
  --mdc-radio-selected-pressed-icon-color: var(--color-highlight);
  --mdc-radio-selected-hover-icon-color: var(--color-highlight-hover);
  --mdc-radio-unselected-icon-color: var(--color-on-interactive);
  --mdc-radio-unselected-pressed-icon-color: var(--color-highlight);
  --mdc-radio-unselected-hover-icon-color: var(--color-highlight-hover);

  // Checkbox
  --checkbox_background-color: #{$blue-gray-100};
  // ::size
  --mdc-checkbox-state-layer-size: 36px;
  // :: icon
  --mdc-checkbox-selected-icon-color: #{$blue-gray-900};
  --mdc-checkbox-selected-hover-icon-color: #{$blue-gray-900};
  --mdc-checkbox-selected-pressed-icon-color: var(--mdc-checkbox-selected-hover-icon-color);
  --mdc-checkbox-selected-focus-icon-color: var(--mdc-checkbox-selected-hover-icon-color);
  --mdc-checkbox-unselected-icon-color: #{$blue-gray-600};
  --mdc-checkbox-unselected-hover-icon-color: #{$blue-gray-900};
  --mdc-checkbox-unselected-pressed-icon-color: var(--mdc-checkbox-unselected-hover-icon-color);
  --mdc-checkbox-unselected-focus-icon-color: var(--mdc-checkbox-unselected-hover-icon-color);
  // :: checkmark
  --mdc-checkbox-selected-checkmark-color: #{$blue-gray-100};

  --mat-mdc-button-persistent-ripple-color: #{$blue-gray-900};
  --mat-mdc-button-ripple-color: #{$blue-gray-900-20};

  // Toggle Bar
  --toggle-bar_color: #{$blue-gray-300};
  --toggle-bar_active_color: #{$blue-gray-400};
  --toggle-bar-thumb_color: #{$blue-gray-500};
  --toggle-bar-thumb_active_color: #{$blue-gray-900};

  // Toggle Button
  --toggle-button_text-color: #{$black};
  --toggle-button_background-color: #{$blue-gray-50};
  --toggle-button_hover_background-color: #{$blue-gray-200};
  --toggle-button_checked_text-color: #{$white};
  --toggle-button_checked_background-color: #{$green-500};

  // Tags
  --tag_background-color: #{$blue-gray-200};
  --tag_text-color: #{$blue-gray-600};
  --tag_border-color: #{$blue-gray-200};
  --tag_hover_background-color: #{$blue-gray-600};
  --tag_hover_text-color: #{$blue-gray-200};
  --tag_hover_border-color: #{$blue-gray-600};
  --tag_disabled_background-color: #{$blue-gray-50};
  --tag_disabled_text-color: #{$blue-gray-300};
  --tag_disabled_border-color: #{$blue-gray-50};
  --tag_system_background-color: #{$cyan-200};
  --tag_border-radius: 0.75rem;

  // Forms
  --input_text-color: var(--color-on-surface);
  --input_border-color: #{$blue-gray-300};
  --input_placeholder-color: var(--color-on-surface-lighter);
  --input_xfix-color: var(--input_placeholder-color);
  --input_caret-color: var(--input_text-color);
  --input_border-radius: 0.5rem;
  --input_active_border-color: #{$blue-gray-700};
  --form-field-label_text-color: var(--color-on-base);
  --form-field-required_color: var(--color-on-error);

  --color-button-primary: #{$blue-gray-600};
  --color-button-primary-text: #{$white};
  --color-button-secondary: #{$blue-gray-300};
  --color-button-secondary-text: #{$blue-gray-900};
  --color-disabled-button: #{rgba(255, 255, 255, 0.5)};

  --color-text-primary: #{$blue-gray-900};
  --color-text-secondary: #{$blue-gray-900};
  --color-text-accent: red;
  --color-text-disabled: #{$blue-gray-dark-64};
  --color-text-disabled-button: #{$blue-gray-dark-64};
  --color-text-hint: #{$blue-gray-dark-64};
  --color-dividers: #{$blue-gray-300};
  --color-icons: #{$blue-gray-900};

  --light-primary-text: #{$white};
  --dark-primary-text: #{$black};

  --primary-color: #{$white};
  --primary-lighter-color: #b3b6e8;
  --primary-darker-color: #010798;
  --text-primary-color: #{$blue-gray-900};
  --text-primary-lighter-color: var(--dark-primary-text);
  --text-primary-darker-color: var(--light-primary-text);

  --accent-color: #{$blue-gray-600};
  --accent-lighter-color: #{$blue-gray-400};
  --accent-darker-color: #{$blue-gray-800};
  --text-accent-color: var(--light-primary-text);
  --text-accent-lighter-color: var(--dark-primary-text);
  --text-accent-darker-color: var(--light-primary-text);

  --white-color: #{$white};
  --text-white-color: var(--dark-primary-text);

  --success-color: #{$emerald-300};
  --text-success-color: var(--dark-primary-text);

  --warn-color: #{$rose-700};
  --warn-lighter-color: #{$red-50};
  --warn-darker-color: #{$red-700};
  --text-warn-color: var(--light-primary-text);
  --text-warn-lighter-color: var(--dark-primary-text);
  --text-warn-darker-color: var(--light-primary-text);

  --text-primary: #{$blue-gray-900};

  --form-filed-bg: #{$white};
  --fab-button-bg: #{$white};
  --fab-button-text: #{$blue-gray-900};
  --fab-button-disabled-bg: rgba(255, 255, 255, 0.6);
  --fab-button-disabled-text: #{rgba($blue-gray-900, 0.3)};

  --button-text-color: #{$blue-gray-900};
  --button-bg-color: #{$blue-gray-300};
  --button-hover-color: #{$blue-gray-400};

  --mdc-filled-button-label-text-color: var(--button-text-color);
  --mdc-filled-button-container-color: var(--button-bg-color);

  --mdc-protected-button-label-text-color: var(--button-text-color);
  --mdc-protected-button-container-color: var(--button-bg-color);
}
