@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

$slate-950_rgb: 2, 6, 23;
$slate-200_rgb: 226, 232, 240;
$slate-100_rgb: 241, 245, 249;

$zinc-200_rgb: 228, 228, 231;
$zinc-100_rgb: 244, 244, 245;
$zinc-050_rgb: 250, 250, 250;

$hpc-theme: mat.define-theme(
  (
    color: (
      primary: mat.$cyan-palette,
    ),
    typography: (
      plain-family: var(--font-family),
      brand-family: var(--font-family),
    ),
  )
);

html {
  --hp-dark-blue: rgb(19, 29, 86);
  --hp-light-blue: rgb(19, 202, 230);

  --hp-gradient-light: 63, 142, 254;
  --hp-gradient-highlight: 63, 251, 218;
  --hp-gradient-dark: 43, 100, 255;

  --hp-color-text-highlight: 19, 202, 230;
  --hpc-highlight-color-light: 6 182 212;
  --hpc-highlight-color-dark: 19 202 230;

  --hpc-highlight-color: var(--hpc-highlight-color-light);

  --mdc-chip-elevated-container-color: rgb(#{$slate-200_rgb});

  --mdc-plain-tooltip-container-color: rgb(#{$slate-950_rgb});
  --mdc-plain-tooltip-supporting-text-color: rgb(255, 255, 255);

  --mat-menu-container-color: rgba(255, 255, 255, 0.5);
  --mat-select-panel-background-color: rgba(255, 255, 255, 0.4);

  --mat-paginator-container-background-color: rgb(#{$zinc-050_rgb});
  --mat-paginator-container-border-color: rgb(#{$zinc-100_rgb});
  --mat-paginator-container-border-top-color: rgb(#{$zinc-200_rgb});

  --mat-sidenav-container-divider-color: rgb(#{$slate-200_rgb});

  --mat-stepper-line-color: rgb(#{$slate-100_rgb});

  --sidebar_background-color: rgb(#{$slate-950_rgb});
  --sidebar-submenu_hover_background-color: rgba(113, 113, 122, 0.7);

  --scrollbar-thumb-color: rgba(#{$slate-950_rgb}, 0.25);
  --scrollbar-track-color: rgba(#{$slate-950_rgb}, 0.1);
}

input,
textarea {
  background: transparent;

  /* Placeholder color */
  &::placeholder {
    @apply text-zinc-300 dark:text-zinc-600;
  }

  &::-moz-placeholder {
    @apply text-hint;
  }

  &::-webkit-input-placeholder {
    @apply text-hint;
  }

  &:-ms-input-placeholder {
    @apply text-hint;
  }

  &:-webkit-autofill {
    transition:
      background-color 600000s 0s,
      color 600000s 0s !important;
  }

  &:-webkit-autofill:hover {
    transition:
      background-color 600000s 0s,
      color 600000s 0s !important;
  }

  &:-webkit-autofill:focus {
    transition:
      background-color 600000s 0s,
      color 600000s 0s !important;
  }

  &:-webkit-autofill:active {
    transition:
      background-color 600000s 0s,
      color 600000s 0s !important;
  }

  [data-autocompleted] {
    background-color: transparent !important;
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}


/* -------------------------------------------------------------------------- */
/*  Elevation / Shadows
/* -------------------------------------------------------------------------- */
.mdc-elevation--z4 {
  @apply shadow-lg #{'!important'};
}

/* -------------------------------------------------------------------------- */
/*  @ Buttons
/* -------------------------------------------------------------------------- */

/* Primary Button */
.mat-mdc-raised-button.mat-primary {
  @apply bg-slate-950 px-4 font-semibold leading-snug text-slate-50 dark:bg-zinc-200 dark:text-slate-950 #{'!important'};
}

/* Outlined buttons */
.mat-mdc-outlined-button {
  &:hover .mat-mdc-button-persistent-ripple:before {
    opacity: 0.05;
  }

  &.mat-primary {
    @apply border-none font-semibold text-white #{'!important'};
    background: linear-gradient(to bottom right, rgba(var(--hp-gradient-highlight), 0.9), rgba(var(--hp-gradient-dark), 0.9)) !important;

    &:hover {
      background: linear-gradient(to bottom right, rgba(var(--hp-gradient-highlight), 1), rgba(var(--hp-gradient-dark), 1)) !important;
    }
  }

  /* Border color */
  &:not([disabled='true']) {
    @apply border-zinc-800 #{'!important'};

    .dark & {
      @apply border-zinc-300 #{'!important'};
    }
  }

  &[disabled='true'] {
    @apply border-gray-200 #{'!important'};

    .dark & {
      @apply border-gray-600 #{'!important'};
    }
  }
}

.mat-mdc-unelevated-button,
.mat-mdc-raised-button {
  .mat-icon {
    color: currentColor !important;
  }

  &:not(.mat-primary, .mat-accent) {
    background-color: var(--color-button-secondary) !important;
    color: var(--color-button-secondary-text) !important;

    &:hover {
      background-color: var(--color-interactive) !important;
      color: var(--color-on-interactive) !important;
    }
  }

  /*  Apply white color */
  &.mat-white:not([disabled]) {
    background-color: var(--white-color) !important;
    color: var(--text-white-color) !important;
  }

  /*  Apply success color */
  &.mat-success:not([disabled]) {
    background-color: var(--success-color) !important;
    color: var(--text-success-color) !important;
  }

  /*  Apply accent color */
  &.mat-accent:not([disabled]) {
    background-color: var(--accent-color) !important;
    color: var(--text-accent-color) !important;
  }

  /*  Apply warn color */
  &.mat-warn:not([disabled]) {
    @apply bg-red-500 text-red-50 hover:bg-red-600 dark:bg-red-950/80 dark:text-red-500 hover:dark:bg-red-950 #{'!important'};
  }

  /*  Apply info color */
  &.mat-info:not([disabled]) {
    @apply bg-blue-500 text-white #{'!important'};
  }
}

.mdc-button--raised {
  @apply px-6 #{'!important'};
}

/* -------------------------------------------------------------------------- */
/*  @ Dialog
/* -------------------------------------------------------------------------- */
.mat-mdc-dialog-container {
  .mdc-dialog__content {
    font-family: inherit !important;
    line-height: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    letter-spacing: inherit !important;
  }
  .mdc-dialog__title {
    line-height: inherit !important;
    letter-spacing: inherit !important;
  }
}

.mat-mdc-dialog-title::before {
  display: none !important;
}

/* -------------------------------------------------------------------------- */
/*  @ Tooltip
/* -------------------------------------------------------------------------- */
.mat-mdc-tooltip .mdc-tooltip__surface {
  @apply px-3 py-2 text-sm #{!important};
}

/* -------------------------------------------------------------------------- */
/*  @ Accordion
/* -------------------------------------------------------------------------- */
.mat-expansion-panel {
  @apply rounded-md bg-surface px-1 py-1 shadow-none #{!important};

  .mat-expansion-panel-header {
    @apply rounded-md border border-alternate bg-alternate-lighter hover:bg-active #{!important};
    transition: padding 0.2s ease-in-out;
    &.mat-expanded {
      @apply rounded-b-none bg-surface hover:bg-active #{!important};
    }
    .mat-content {
      @apply justify-between;
    }
  }

  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    @apply m-0 basis-auto #{!important};
  }

  .mat-expansion-panel-header-description {
    @apply grow-0 #{!important};
  }

  .mat-expansion-panel-content {
    @apply rounded-b-md border-x border-b border-alternate #{!important};
  }

  .mat-expansion-panel-header,
  .mat-expansion-panel-content {
    @apply text-sm;
  }

  .mat-panel-title,
  .mat-expansion-panel-header-title {
    @apply text-md font-semibold;
  }
}

.mat-accordion {
  .mat-expansion-panel {
    .mat-expansion-panel-header {
      &[aria-disabled='true'] .mat-expansion-panel-header-description {
        @apply mr-7;
      }

      .mat-expansion-indicator {
        padding: 3px;
        @apply inline-block h-6 w-6 rounded-full bg-gray-300 fill-current text-gray-900 #{!important};

        &:after {
          border: none;
          padding: 0;
          width: 100%;
          height: 100%;
          transform: rotate(0deg);
          content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='3.5'><path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z' /></svg>");
        }
      }
    }

    .mat-expansion-panel-body {
      @apply text-secondary p-4 leading-relaxed #{!important};
    }
  }
}

.mat-tree {
  @apply rounded-lg bg-surface shadow #{!important};
  .mat-tree-node {
    @apply text-primary p-1;
  }
}

/* -------------------------------------------------------------------------- */
/*  @ Buttons
/* -------------------------------------------------------------------------- */
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-unelevated-button,
.mat-mdc-icon-button,
.mat-mdc-fab {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  line-height: 1 !important;

  &.hpc-mat-button-small {
    height: 32px;
    min-height: 32px;
    max-height: 32px;
  }

  &.hpc-mat-button-medium {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
  }

  /* Large button */
  &.hpc-mat-button-large {
    width: 48px;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
  }

  /* Lower the icon opacity on disabled buttons */
  &[disabled='true'] {
    .mat-icon,
    .mat-mdc-paginator-icon {
      opacity: 0.38 !important;
    }
  }
}

/* Icon buttons */
.mat-mdc-icon-button {
  border-radius: 1rem !important;
  .mat-icon {
    color: rgba(var(--color-primary), 0.9);
  }

  &.small {
    padding: 6px;
    border-radius: 0.75rem !important;
    width: 32px;
    height: 32px;
    min-height: 32px;
    max-height: 32px;

    .mat-icon {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      font-size: 20px;
      line-height: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.large {
    width: 44px;
    height: 44px;
    min-height: 44px;
    max-height: 44px;

    .mat-icon {
      width: 28px;
      height: 28px;
      min-width: 28px;
      min-height: 28px;
      font-size: 28px;
      line-height: 28px;
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }

  &.inverted .mat-icon {
    color: rgba(var(--color-primary-inverted), 0.8);
  }
}

.mat-mdc-icon-button:hover {
  background-color: rgba(var(--color-primary), 0.15);
  .mat-icon {
    color: rgba(var(--color-primary), 1);
  }

  &.danger {
    background-color: rgba(var(--color-danger), 0.2);
    .mat-icon {
      color: rgb(var(--color-on-danger));
    }
  }

  &.inverted {
    background-color: rgba(var(--color-primary-inverted), 0.2);
    .mat-icon {
      color: rgba(var(--color-primary-inverted), 1);
    }
  }
}

.mat-mdc-button {
  .mat-ripple-element {
    background-color: rgba(15, 23, 42, 0.1) !important;
  }
  .mat-mdc-button-persistent-ripple::before {
    @apply bg-slate-950/5 dark:bg-zinc-50/15 #{'!important'};
  }
}

/* Fix the alignment of icons when used within buttons */
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-unelevated-button {
  & > .mat-icon {
    margin-left: 0 !important;
    // margin-right: 0 !important;
  }
}

mat-icon,
mat-icon.mat-primary {
  @apply text-zinc-950 dark:text-zinc-50;
}

.mdc-linear-progress__buffer-bar {
  @apply bg-zinc-300/70 dark:bg-zinc-600/70 #{'!important'};
}

.mdc-linear-progress__bar-inner {
  @apply border-highlight #{'!important'};
}

/* Adjust the color of mat-progress-spinner when used within buttons */
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-unelevated-button,
.mat-mdc-icon-button,
.mat-mdc-fab {
  .mat-mdc-progress-spinner {
    .mdc-circular-progress__indeterminate-container {
      circle {
        stroke: currentColor !important;
        animation-duration: 6000ms;
      }
    }
  }
}

/* Adjust the focus, ripple and icon colors of colored background buttons */
.mat-mdc-raised-button,
.mat-mdc-unelevated-button,
.mat-mdc-fab {
  .mat-icon {
    color: currentColor !important;
  }
  .mat-ripple-element {
    // @apply bg-on-interactive;
    @apply bg-black/10 #{'!important'};
  }
}

/* Color the icons of transparent background buttons */
.mat-mdc-button,
.mat-mdc-icon-button {
  &:not([disabled='true']) {
    /* Apply primary color */
    &.mat-primary {
      .mat-icon {
        @apply text-primary #{'!important'};
      }
    }

    /* Apply accent color */
    &.mat-accent {
      .mat-icon {
        @apply text-accent #{'!important'};
      }
    }

    /* Apply warn color */
    &.mat-warn {
      .mat-icon {
        @apply text-warning #{'!important'};
      }
    }
  }
}

/* Don't wrap the button label text */
.mdc-button {
  .mdc-button__label {
    font-weight: 600;
    white-space: nowrap;
  }
}


/* -------------------------------------------------------------------------- */
/*  @ Dialog
/* -------------------------------------------------------------------------- */
.mat-mdc-dialog-container {
  .mdc-dialog__surface {
    @apply rounded-none bg-white shadow-xl sm:rounded-3xl sm:shadow-lg dark:border dark:border-zinc-700 dark:bg-black #{!important};
    padding: 24px;
  }
  .mdc-dialog__title,
  .mdc-dialog__content {
    @apply text-on-surface #{!important};
  }
}

/* -------------------------------------------------------------------------- */
/*  @ Icon
/* -------------------------------------------------------------------------- */
.mat-icon {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  width: 24px;
  // min-width: 24px;
  height: 24px;
  // min-height: 24px;
  font-size: 24px;
  line-height: 24px;
  -webkit-appearance: none !important;
}

/* -------------------------------------------------------------------------- */
/*  @ Inputs
/* -------------------------------------------------------------------------- */
.mat-mdc-input-element {
  &::placeholder {
    transition: none !important;
    @apply text-zinc-300 dark:text-zinc-600 #{'!important'};
  }

  &::-moz-placeholder {
    transition: none !important;
    @apply text-hint #{'!important'};
  }

  &::-webkit-input-placeholder {
    transition: none !important;
    @apply text-hint #{'!important'};
  }

  &:-ms-input-placeholder {
    transition: none !important;
    @apply text-hint #{'!important'};
  }
}

.mat-mdc-input-element::placeholder,
.mat-mdc-select .mat-mdc-select-placeholder {
  color: var(--input_placeholder-color);
}
